<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Assets/Css/style.css">
    <title>Login</title>
</head>
<body>
    <section class="capa_1">
        <section class="capa_2">
            <h1>Gestor Store</h1>
            <p>Rol</p>
            <select  id="" class="selection_rol">
                <option value="1">Admin</option>
                <option value="2">Usuario</option>
            </select>
            <p>Correo Electronico</p>
            <input type="email" name="" id="" class="tbx">
            <p>Contraseña</p>
            <input type="password" name="" id="" class="tbx">
        </section>
    </section>
</body>
</html>