/*Capas contenedoras */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    background: linear-gradient(150deg, #a69936, #c97434);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-style: italic;
    color: white;
}

form {
    justify-content: center;
    display: flex;
    align-items: center;
}

.capa_1 {
    padding: 35px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 3px solid white;
    border-radius: 15px;
    background: rgba(255, 255, 255, .08);
    backdrop-filter: blur(8px);
    text-align: center;
}

.capa_2 {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 25px;
    border: 2px solid white;
    border-radius: 10px;
}

p {
    text-align: left;
    letter-spacing: 2px;
    font-weight: bolder;
}

/*------------------------*/
/*noombre de la plataforma*/
h1 {
    text-shadow: 1px 0px 1px black;
}

/*------------------------*/
/*Selector de .selection_rol*/
.selection_rol {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    border: none;
    transition: .5s;
    box-sizing: border-box;
}

.selection_rol:hover {
    transform: scale(1.1);
}

/*------------------------*/
/*clases de los input = tbx*/
.tbx {
    border: none;
    border-radius: 10px;
    padding: 10px;
}

/*------------------------*/
/*clase de los button = btn*/

.btn {
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-weight: bolder;
    letter-spacing: 2px;
    font-style: italic;
    transition: .5s;
}

.btn:hover {
    transform: scale(1.1);
    cursor: pointer;
    background: linear-gradient(200deg, #a69936, #c97434);
    text-decoration: underline white;

}

/*----------------------------------------------------------*/
h2 {
    padding: 10px;
    text-shadow: black 1px 0px 1px;
}

/*----------------------------------------------------------*/
/*a = class register*/

.register {
    border: solid 2px;
    border-radius: 10px;
    padding: 10px;
    font-weight: bolder;
    font-size: 20px;
    transition: .5s;
}

.register:hover {
    transform: scale(1.1);
    cursor: pointer;
    background: linear-gradient(270deg, #a69936, #c97434);
    text-decoration: underline white;
}

/*----------------------------------------------------------*/
/*label class= campo*/